<!DOCTYPE html>
<html>
<head>
	<title> cool stuff </title>
</head>

<!-- comment like this. css can be a separate doc, or go in with the good stuff -->
<style>
	h1{
		color: blue;
	}
	h2{
		color: red;
	}
	/**/
	body{
		background-color: #9bddff;
	}
</style>

<body>
	<h1> The League of Ordinary Programmers </h1>
	<h2> Abandon hope all ye who enter here </h2>
	<p> What's up {{name}}!! </p>
	<p> This is a new paragraph. </p>
	<form>
		<label for="Enter Stuff:"> Enter Stuff: </label>
		<input type="text" name="name" id=""> 
	</form>
	(That doesn't do anything)
</body>
</html>